/* Imported font from Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Set color variables in root so that they can be used everywhere else in the css */
:root {
    /* GitHub dark theme primary-background-color */ 
    --primary-background-color: #161b22; 
    /* github text-color */ 
    --color: #f0f6fc;
    /* GitHub dark theme secondary-background-color */  
    --secondary-background-color: #010409;  
    /* My own tertiary theme color */
    --tertiary-color: #922724;
    /* My own lighter-tertiary theme color */
    --lighter-tertiary-color: #e02209;
}

/* Reset point */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Paragraph Styling */
p {
    margin: 5px 0;
    line-height: 1.7;
}

/* Universal Image Styling */
img {
    max-width: 100%;
    max-height: 100%;
}

/* Universal Active Link Styling */
a:active {
    color: var(--lighter-tertiary-color);
}

/* Universal Visited Link Styling */
a:visited {
    color: var(--lighter-tertiary-color);
}

/* Universal Link Styling */
a:link {
    color: var(--tertiary-color)
}

/* Nav Container */
.nav-container {
    padding: 40px;
    display: flex;
    box-shadow: 0 2px 2px var(--secondary-background-color), 0 2px 2px var(--secondary-background-color), 0 2px 2px var(--secondary-background-color);
    justify-content: space-between;
    max-width: 1366px;
    margin-bottom: 0px;
}

.nav-container a:hover {
    color: var(--lighter-tertiary-color);
}

.nav-left a {
    margin-right: 40px;
    text-decoration: none;
    color: var(--color);
    padding: 10px 5px 10px 5px;
}

.nav-left a:first-child {
    margin-left: 5px;
}

.nav-right a {
    text-decoration: none;
    color: var(--color);
    padding: 10px 5px 10px 5px;
}

/* Hamburger */
.hamburger {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.5s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: var(--tertiary-color);
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    /* To show the middle part of the Hamburger */
    transform: translateY(7px);
}

.hamburger-bottom {
    /* To show the bottom part of the Hamburger */
    transform: translateY(14px);
}

/*is toggled when the navToggle function in the JS script is run and the open class is toggled when the button is clicked  to create an open class in the Hamburger button */
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: var(--lighter-tertiary-color);
}
.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: var(--lighter-tertiary-color);
}

/* Mobile Menu */
#menu {
    position: fixed;
    top: 111px;
    /* To push it to the right side */
    right: 0;
    background-color: var(--primary-background-color);
    width: 80%;
    height: 100%;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
}

.mobile-menu-hidden {
    display: none;
}

#menu ul {
    list-style: none;
    line-height: 4;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#menu a {
    text-decoration: none;
    font-size: 18px;
    color: var(--tertiary-color);
}

#menu a:hover {
    color: var(--lighter-tertiary-color);
}

#menu a:active {
    color: var(--lighter-tertiary-color);
}

#menu a:visited {
    color: var(--lighter-tertiary-color);
}

.hidden {
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

/* Body */
body {
    color: var(--color);
    background-color: var(--primary-background-color);
    font-family: 'Poppins', 'Open Sans', sans-serif;
    line-height: 1.4;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 600;
    max-width: 1366px;
}

/* Container 1 */
.container-1 {
    margin-top: 70px; 
    width: auto;
    display: block;
    height: 100%;
}

/* Intro */
.intro {
    display: inline;
}

.intro-text h2 {
    /* letter-spacing: 20px; */
    text-transform: uppercase;
}

.intro-p-img {
    display: flex;
    align-items: center;
}

.intro-p-img p{
    font-size: 16px;
    width: 100%;
}

.intro-p-img p a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.intro-p-img p a:hover {
    color: var(--lighter-tertiary-color);
}

.my-face-right img {
    border-radius: 20px;
    border: 2px solid var(--lighter-tertiary-color);
    height: auto;
    width: auto;
}

.my-face-right img:hover {
    cursor: pointer;
    margin-top: -20px;
    transition: all 0.5s;
}

/* Second Intro */
.second-intro {
    margin-top: 70px;
    margin-bottom: 70px;
}

.my-work-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    /* to center everything in the grid */ 
    place-content: center;
}

.my-work-grid ul {
    /* to make the list appear inside the heading */ 
    padding-left: 20px;
}

.my-work-grid ul li {
    font-size: 16px;
}

.my-work-grid ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
}

.my-work-grid ul li a:hover {
    cursor: pointer;
    color: var(--lighter-tertiary-color);
}

/* Projects Container 1 */
#projects-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 70px;
}

.project-container {
    padding: 30px;
    border-radius: 20px;
    background-color: var(--tertiary-color);
    color: #fff;
    height:400px;
}

.project-container:hover{
    margin-top: -14px;
    background-color: var(--lighter-tertiary-color);
    box-shadow: 10px 10px 10px var(--secondary-background-color), 0 2px 2px var(--secondary-background-color), 0 0 2px var(--tertiary-color);
    cursor: pointer;
    transition: all 0.5s;
}

.project-container a img{
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
}

.project-name {
    margin-bottom: 30px;
}

.project-technologies {
    margin-top: 50px;
}

/* Container 2 */
.container-2 {
    max-width: 1366px;
    margin-bottom: 70px;
}

#footer h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.footer-social-links {
    text-align: center;
    margin-left: 10px;
}

.footer-social-links a {
    height: 30px; 
    width: 30px;
    display: inline-flex; 
    margin-right: 10px;
}

/* My Art */
.image-container {
    margin-top: 70px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 70px;
}

.image-container img:hover {
    box-shadow: 5px 5px 5px var(--lighter-tertiary-color), 0 2px 2px var(--lighter-tertiary-color), 0 0 2px var(--lighter-tertiary-color);
    cursor: pointer;
    transition:ease-in-out .5s;
}

/* Media Query for smaller screens */
@media(max-width: 1068px) {
    /* Navigation */
    .nav-container a {
        color: var(--color);
    }

    .nav-left a:active {
        color: var(--lighter-tertiary-color);
    }

    .nav-left a:visited {
        color: var(--lighter-tertiary-color);
    }

    .nav-right {
        margin-right: -20px;
    }

    /* Mobile Menu */
    #menu a {
        font-size: 23px;
    }

    /* Body */
    body {
        line-height: 1.7;
        margin-left: 3%;
        margin-right: 3%;
    }

    /* Container 1 */
    .container-1 {
        margin-top: 58px; 
        display: inline-block;
        height: auto;
    }

    /* Intro */
    .intro {
        display: inline-block;
    }

    .intro-text h2 {
        font-size: 23px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    .intro-p-img p {
        font-size: 16px;
        width: auto;
        margin-bottom: 30px;
    }

    .intro-p-img {
        display: flex;
        flex-wrap: wrap;
    }

    .my-face-right {
        height: 280px;
        width: 240px;
    }

    /* Second Intro */
    .second-intro {
        margin-bottom: 30px;
    }

    .my-work-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        /* to center everything in the grid */ 
        place-content: center;
    }

    .my-work-grid h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .my-work-grid ul {
        /* to make the list appear inside the heading */
        padding-left: 25px;
    }

    .my-work-grid ul li {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .my-work-grid ul li a {
        text-decoration: none;
        color: var(--tertiary-color);
    }

    /* project.html */
    #projects-container-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 70px;
    }
    
    .project-container {
        margin-bottom: 10px;
    }
    
    .project-container:hover{
        background-color: var(--lighter-tertiary-color);
    }
    
    .project-container a img {
        height: 40px;
        width: 40px;
    }
    
    .project-container h3 {
        font-size: 20px;
    }
    
    /* Footer */
    #footer h3 {
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .footer-social-links {
        margin-bottom: 70px;
        text-align: center;
        margin-left: 10px;
    }
    
    .footer-social-links a {
        height: 30px; 
        width: 30px;
        display: inline-flex; 
        margin-right: 10px;
    }

    /* My Art */
    .image-container {
        margin-top: 70px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-bottom: 70px;
    }
}

@media(max-width: 768px) {
    /* Navigation */
    .nav-container a {
        color: var(--tertiary-color);
    }

    .nav-left a:active {
        color: var(--lighter-tertiary-color);
    }

    .nav-left a:visited {
        color: var(--lighter-tertiary-color);
    }

    .nav-left a:first-child{
        font-size: 20px;
        margin-left: -20px;
        padding: 0px;
    }

    .nav-right {
        margin-right: -20px;
    }
    
    .projects {
        display: none;
    }

    .resume {
        display: none;
    }

    .my-art {
        display: none;
    }

    .contact {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    /* Mobile Menu */
    #menu a {
        font-size: 20px;
    }

    /* Body */
    body {
        line-height: 1.4;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Container 1 */
    .container-1 {
        margin-top: 45px; 
        display: inline-block;
        height: auto;
    }

    /* Intro */
    .intro {
        display: inline-block;
    }

    .intro-text h2 {
        font-size: 23px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    .intro-p-img p {
        font-size: 16px;
        width: auto;
        margin-bottom: 30px;
    }

    .intro-p-img {
        display: flex;
        flex-wrap: wrap;
    }

    .my-face-right {
        height: 280px;
        width: 240px;
    }

    /* Second Intro */
    .second-intro {
        margin-bottom: 30px;
    }

    .my-work-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem;
        /* to center everything in the grid */ 
        place-content: center;
    }

    .my-work-grid h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .my-work-grid ul {
        /* to make the list appear inside the heading */
        padding-left: 25px;
    }

    .my-work-grid ul li {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .my-work-grid ul li a {
        text-decoration: none;
        color: var(--tertiary-color);
    }

    /* project.html */
    #projects-container-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-bottom: 70px;
        margin-right: 9%;
    }
    
    .project-container {
        margin-bottom: 10px;
    }
    
    .project-container:hover{
        background-color: var(--lighter-tertiary-color);
    }
    
    .project-container a img {
        height: 40px;
        width: 40px;
    }
    
    .project-container h3 {
        font-size: 20px;
    }
    
    /* Footer */
    #footer h3 {
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .footer-social-links {
        margin-bottom: 70px;
        text-align: center;
        margin-left: 10px;
    }
    
    .footer-social-links a {
        height: 30px; 
        width: 30px;
        display: inline-flex; 
        margin-right: 10px;
    }

    /* My Art */
    .image-container {
        margin-top: 70px; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 70px;
    }
}

@media(max-width: 500px) {
    /* Navigation */
    .nav-left a {
        color: var(--tertiary-color);
    }

    .nav-left a:active {
        color: var(--lighter-tertiary-color);
    }

    .nav-left a:visited {
        color: var(--lighter-tertiary-color);
    }

    .nav-left a:first-child{
        font-size: 20px;
        margin-left: -30px;
        padding: 0px;
    }

    .nav-right {
        margin-right: -20px;
    }
    
    .projects {
        display: none;
    }

    .resume {
        display: none;
    }

    .my-art {
        display: none;
    }

    .contact {
        display: none;
    }

    .hamburger {
        display: inline;
    }

    /* Body */
    body {
        line-height: 1.4;
        margin-left: 0;
        margin-right: 1%;
        margin-left: 1%;
    }

    /* Container 1 */
    .container-1 {
        margin-top: 35px; 
        display: inline-block;
        height: auto;
    }

    /* Intro */
    .intro {
        display: inline-block;
    }

    .intro-text h2 {
        font-size: 23px;
        letter-spacing: 10px;
        text-transform: uppercase;
    }

    .intro-p-img p {
        font-size: 16px;
        width: auto;
        margin-bottom: 30px;
    }

    .intro-p-img {
        display: flex;
        flex-wrap: wrap;
    }

    .my-face-right {
        height: 280px;
        width: 240px;
    }

    /* Second Intro */
    .second-intro {
        margin-bottom: 30px;
    }

    .my-work-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        /* to center everything in the grid */ 
        place-content: center;
    }

    .my-work-grid h3 {
        font-size: 20px;
    }

    .my-work-grid ul {
        /* to make the list appear inside the heading */
        padding-left: 25px;
    }

    .my-work-grid ul li {
        font-size: 16px;
    }
    
    .my-work-grid ul li a {
        text-decoration: none;
        color: var(--tertiary-color);
    }

    /* project.html */
    #projects-container-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.2rem;
        margin-bottom: 70px;
        margin-left: 2%;
        margin-right: 11%;
    }
    
    .project-container {
        margin-bottom: 10px;
    }
    
    .project-container:hover{
        background-color: var(--lighter-tertiary-color);
    }
    
    .project-container a img {
        height: 40px;
        width: 40px;
    }
    
    .project-container h3 {
        font-size: 20px;
    }
    
    /* Footer */
    #footer h3 {
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .footer-social-links {
        margin-bottom: 70px;
        text-align: center;
        margin-left: 10px;
    }
    
    .footer-social-links a {
        height: 30px; 
        width: 30px;
        display: inline-flex; 
        margin-right: 10px;
    }

    /* My Art */
    .image-container {
        margin-top: 70px; 
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 70px;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
}