/* set variables on the root scope so that they can be used everywhere */
 /* :root { */
    /* github dark theme background-color */ 
    /* --primary-background-color: #161b22; */
    /* github text-color */ 
    /* --color: #f0f6fc; */
    /* --secondary-background-color: #010409; */ 
/*} */

/* reset point */ 
* {
    /*box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

/* ul { */
    /* list-style: none; */
/* } */

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nav-container {
    padding: 40px;
    display: flex;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    justify-content: space-between;
    max-width: 1366px;
}

.nav-left a {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    padding: 10px 5px 10px 5px;
}

.nav-left a:first-child {
    margin-left: 40px;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    padding: 10px 5px 10px 5px;
}

body {
    /* color: var(--color);
    background-color: var(--primary-background-color); */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    margin-left: 5%;
    margin-right: 5%;
    /* background-image: url(assets/IMG_20210919_181227-04.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.container-1 {
    margin-top: 80px; 
    display: flex;
    height: 71vh;
}

.intro-center {
    margin-right: 50px;
    margin-left: 150px;
}

.intro-center h1 {
    letter-spacing: 20px;
    text-transform: uppercase;
}

.main-page-socials-left {
    display:inline;
    margin-top: 50px;
}

.main-page-socials-left a img {
    height: 28px;
    width: 65px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.my-face-right img {
    border-radius: 20px;
    border: 2px solid rgba(143, 34, 7, 0.685);
    height: fit-content;
    width: fit-content;
}

.container-2 {
    max-width: 1366px;
    margin: 0 auto;
}

.my-work h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.my-work p {
    text-align: justify;
    margin-bottom: 70px;
}

.my-work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    /* to center everything in the grid */ 
    place-content: center;
    margin-bottom: 100px;
}

.software-development ul {
    /* to make the list appear inside the heading */ 
    padding-left: 20px;
}

.photo-editing ul {
    padding-left: 20px;
}

.community ul {
    padding-left: 20px;
}

.community ul li a {
    text-decoration: none;
    color: #000;
}

.community ul li a:hover {
    text-decoration: none;
    color: rgb(85, 4, 122);
}

.container-3 {
    max-width: 1366px;
}

.footer h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.footer-social-links {
    margin-bottom: 100px;
    text-align: center;
}

.footer-social-links a {
    height: 30px; 
    width: 30px;
    display: inline-flex; 
    margin-right: 15px;
}

@media(max-width: 375px) {
    .container-1 {
        max-width: 600px;
        display: inline;
    }

    .container-2 {
        max-width: 600px;
    }

    .container-3 {
        max-width: 600px;
        display: flex;
        text-align: center;
    }

    body{
        /* color: var(--color);
        background-color: var(--primary-background-color); */
        font-family: 'Open Sans', sans-serif;
        line-height: 1.4;
        margin-left: 0%;
        margin-right: 0%;
        /* background-image: url(assets/IMG_20210919_181227-04.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; */
    }

    .nav-container {
        display: block;
    }

    .nav-left a:first-child{
        font-size: 20px;
    }
    
    .home-page {
        font-size: 30px;
        align-items: left;
        text-align: left;
    }
    
    .projects {
        display: none;
    }

    .gear {
        display: none;
    }

    .contact {
        display: none;
    }

    .container-1 {
        margin-top: 80px; 
        display: block;
        height: 71vh;
    }

    .intro-center {
        font-size: 10px;
        display: inline;
    }

    .intro-center h1 {
        text-align: left;
        letter-spacing: 4px;
    }

    .intro-center p {
        text-align: justify;
    }

    .main-page-socials-left {
        display: none;
    }

    .my-face-right {
        height: 280px;
        width: 240px;
    }

    .my-work p {
        font-size: 15px;
        text-align: left;
    }

    .my-work-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
        /* to center everything in the grid */ 
        place-content: center;
        margin-bottom: 100px;
    }

    .footer-social-links a {
        height: 30px; 
        width: 30px;
        display: inline-flex; 
        margin-right: 10px;
        margin-left: 17px;
    }
}