/* set variables on the root scope so that they can be used everywhere */
 /* :root { */
    /* github dark theme background-color */ 
    /* --primary-background-color: #161b22; */
    /* github text-color */ 
    /* --color: #f0f6fc; */
    /* --secondary-background-color: #010409; */ 
/*} */

/* reset point */ 
* {
    /*box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nav-container {
    height: auto;
    padding: 40px;
    display: flex;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
}

.nav-left a {
    margin-left: 40px;
    text-decoration: none;
    color: #000;
}

.nav-right a {
    text-decoration: none;
    color: #000;
}

body {
    /* color: var(--color);
    background-color: var(--primary-background-color); */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    margin-left: 5%;
    margin-right: 5%;
    /* background-image: url(assets/IMG_20210919_181227-04.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.container-1 {
    
    
    margin-top: 150px; 
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 230px;
}

.intro {
    align-items: center;
    text-align: center;
}

.intro h1 {
    letter-spacing: 30px;
    text-transform: uppercase;
}

.main-page-socials-left {
    display:inline;
}

.main-page-socials-left a img {
    height: 30px;
    width: 30px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.welcome-message {
    margin-top: 50px; 
    background-color: var(--secondary-background-color)
}