/* Imported font from Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* Set color variables in root so that they can be used everywhere else in the css */
:root {
    --primary-background-color: #0a192f;
    --lighter-secondary-background-color: #a8b2d1; 
    --slate: #8892b0;
    --dark-navy: #020c1b;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --color: rgb(214, 197, 197); 
    /* My own tertiary theme color */
    --tertiary-color: #922724;
    /* My own lighter-tertiary theme color */
    --lighter-tertiary-color: #e02209;
}

/* Reset point */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Paragraph Styling */
p {
    margin: 5px 0;
    line-height: 1.7;
    color: var(--lighter-secondary-background-color);
}

/* Universal Image Styling */
img {
    max-width: 100%;
    max-height: 100%;
}

/* Universal Link Styling */
a:link {
    color: var(--lighter-tertiary-color);
}

a:hover {
    color: var(--lighter-secondary-background-color);
}

a:active {
    color: var(--tertiary-color);
}

a:visited {
    color: var(--lighter-tertiary-color);
}

h2 {
    color: var(--color);
    font-size: 40px;
}

/*===========================================================================================================*/
/* Nav Container */
.navbar {
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 90%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

/* Nav Container Hover Link */
.navbar a {
    text-decoration: none;
    padding: 3px 3px;
}

.navbar a:hover {
    color: var(--color);
}

.social-links {
    position: fixed;
    z-index: 1;
    top: 85%;
    left: 90%;
    display: flex;
}

.social-links a {
    margin-right: 3%;
}

.social-links a img {
    height: 25px;
    width: 25px;
}

/*===========================================================================================================*/
/* Hamburger */
.hamburger {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.5s;
    display: none;
}

/* Hamburger Top, Middle and Bottom Universal Styling */
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: var(--tertiary-color);
    transform: rotate(0);
    transition: all 0.5s;
}

/* Hamburger Middle Styling */
.hamburger-middle {
    /* To show the middle part of the Hamburger */
    transform: translateY(7px);
}

/* Hamburger Middle Styling */
.hamburger-bottom {
    /* To show the bottom part of the Hamburger */
    transform: translateY(14px);
}

/* Open action Styling */
/*is toggled when the navToggle function in the JS script is run and the open class is toggled when the button is clicked  to create an open class in the Hamburger button */
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: var(--lighter-tertiary-color);
}
.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: var(--lighter-tertiary-color);
}

/* Mobile Menu */
#menu {
    position: fixed;
    top: 111px;
    /* To push it to the right side */
    right: 0;
    background-color: var(--light-navy);
    width: 80%;
    height: 100%;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
}

/* Hidden Mobile Menu */
.mobile-menu-hidden {
    display: none;
}

/* Menu's Unordered List */
#menu ul {
    list-style: none;
    line-height: 4;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* Menu Link */
#menu a {
    text-decoration: none;
    font-size: 18px;
    color: var(--lighter-tertiary-color);
}

/* Menu when hidden */
.hidden {
    transform: translateX(100%);
}

/* Menu when visible, no-scroll */
.no-scroll {
    overflow: hidden;
}

#welcome {
    max-width: 450px;
    height: 100vh;
    padding-top: 25%;
}

#welcome h1 {
    font-size: 70px;
    color: var(--color);
}

#welcome h2 {
    font-size: 40px;
}

#welcome p {
    margin-bottom: 10%;
    word-spacing: 10px;
}

#welcome a {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3%;
    border-color: var(--lighter-tertiary-color);
    height: 75px;
    width: 150px;
    text-decoration: none;
    color: var(--color);
}

#welcome a:hover {
    background-color: var(--slate);
    color: var(--lighter-tertiary-color);
}

#welcome a img {
    height: 30px;
    width: 30px;
    margin-right: 5%;
    margin-left: 20%;
}

/* Body */
body {
    color: var(--light-navy);
    background-color: var(--dark-navy);
    font-family: 'Poppins', 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
    line-height: 1.4;
    /* To center the content */
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 600;
    max-width: 1366px;
}

#about-me {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    word-spacing: 7px;
    color: var(--lighter-secondary-background-color);
}

#about-me a:hover {
    color: var(--color);
}

#about-me img {
    height: 80%;
    width: 30%;
    border-radius: 3%;
}

.words {
    text-align: justify;
    width: 440px;
    margin-right: 8%;
}

.words a {
    text-decoration: none;
}

.words ul li {
    list-style:inside;
}

#software-creations {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 1rem;
    padding-top: 5%;
    margin-bottom: 10%;
    color: var(--lighter-secondary-background-color);
}

#software-creations a img{
    height: 30px;
    width: 30px;
}

.project {
    height: 350px;
    width: 300px;
    background-color: var(--light-navy);
    border-radius: 3%;
}

.project:hover {
    background-color: var(--lightest-navy);
}

.project a {
    margin-left: 87%;
}

.project h3 {
    padding-left: 10px;
}

.project ul li {
    list-style: none;
    padding-left: 10px;
    max-width: 85%;
    text-align: justify;
}

.project p {
    padding-left: 10px;
}

#footer {
    text-align: center;
    margin-bottom: 5%;
    color: var(--lighter-secondary-background-color);
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    color: var(--color);
}

/* My Art */
.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Socials */
.socials{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    background-color: var(--lighter-secondary-background-color);
    width: 99%;
}

.socials a {
    background-color: var(--primary-background-color);
    margin-bottom: 10%;
    font-size: 30px;
    padding-top: 2.5%;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
}   

.socials a:first-child {
    margin-top: 15%;
}

/* Media Query for smaller screens */
@media(max-width: 1068px) {
    /* Body */
    body {
        line-height: 1.7;
        margin-left: 15%;
        margin-right: 15%;
    }

    #about-me img {
        height: 20%;
        width: 30%;
    }

    #software-creations {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 1rem;
    }

    .project {
        height: 350px;
        width: 320px;
    }
    
    .project h3 {
        font-size: 20px;
    }

    .project ul li, p {
        font-size: 18px;
    }   

    /* Socials */
    .socials{
        width: 99.9%;
    }

    .socials a {
        font-size: 24px;
        margin-bottom: 20%;
        padding-top: 1.5%;
        height: 75px;
        width: 200px;
    }    

    .socials a:first-child {
        margin-top: 20%;
    }
}

@media(max-width: 768px) {
    /* Navigation */
    .navbar {
        display: none;
    }

    .social-links {
        flex-direction: column;
        top: 70%;
        left: 95%;
    }

    /* Mobile Menu */
    #menu a {
        font-size: 20px;
    }

    /* Body */
    body {
        line-height: 1.4;
        margin-left: 10%;
        margin-right: 10%;
    }

    #welcome p, a {
        font-size: 20px;
    }

    #welcome a img {
        margin-left: 15%;
    }

    #about-me img {
        height: 30%;
        width: 40%;
    }

    .words p, ul li{
        font-size: 20px;
    }

    .project {
        height: 350px;
        width: 250px;
    }

    .project ul li, p {
        font-size: 16px;
    } 

    /* Socials */
    .socials a {
        font-size: 20px;
        padding-top: 1.5%;
        margin-bottom: 32%;
        height: 50px;
        width: 150px;
    }

    .socials a:first-child {
        margin-top: 32%;
    }
}

@media(max-width: 450px) {
    .hamburger {
        display: inline;
    }

    .social-links {
        flex-direction: column;
        top: 80%;
        left: 90%;
    }

    /* Body */
    body {
        line-height: 1.2;
        margin-right: 1%;
        margin-left: 1%;
    }

    #about-me {
        width: 95%;
    }

    #about-me img {
        height: 30%;
        width: 50%;
    }

    /* project.html */
    #software-creations {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-left: 2%;
        margin-right: 10%;
    }

    .project {
        width: 99%;
    }

    #footer {
        width: 90%;
    }

    /* Socials */
    .socials a {
        font-size: 18px;
        margin-bottom: 30%;
        padding-top: 3.5%;
        width: 140px;
    }

    .socials a:first-child {
        margin-top: 30%;
    }
}
